:root {
  --main-subtle-border-grey: 1px solid #e4e7eb;
}

* {
  box-sizing: "border-box";
  padding: 0;
  margin: 0;
}

// Remove autocomplete colors.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
