:root {
  --main-subtle-border-grey: 1px solid #e4e7eb;
  --main-subtle-medium-border-grey: 2px solid #e4e7eb;
  --main-subtle-fat-border-grey: 3px solid #e4e7eb;
}

* {
  box-sizing: "border-box";
  padding: 0;
  margin: 0;
}

// Remove autocomplete colors.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media print {
  .page-break {
    display: block;
    page-break-before: auto;
  }
  @page {
    margin-bottom: 10mm;
    margin-top: 10mm;
  }
  .MuiPaper-elevation1 {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}
